{
  "arrowParens": "avoid",
  "useTabs": false,
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/shared/(.*)$",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^@/widgets/(.*)$",
    "^@/pages/(.*)$",
    "^@/processes/(.*)$",
    "^@/styles/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
